.product-card {
    max-width: 150px;
    /* margin: 20px; */
}
mat-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
}

